[submodule "indigo"]
	path = indigo
	url = https://github.com/floodlight/indigo.git
[submodule "FlowLog"]
	path = FlowLog
	url = https://github.com/tnelson/FlowLog.git
[submodule "frenetic"]
	path = frenetic
	url = https://github.com/frenetic-lang/frenetic.git
